body {
    margin: 0;
    -webkit-perspective: 1000;
    font-family: Avenir Next, sans-serif;
  }
  
  body, html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
  }
  
  .menu {
    position: fixed;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.8rem;
    text-align: center;
    border-radius: 0;
    right: 1.5rem;
    z-index: 15;
    top: 0.2rem;
  }
  
  .menu-bg {
    @extend .menu;
    pointer-events: none;
    transition: .3s;
    right: 1.2rem;
    top: 1.2rem;
    transform: translate3d(50%, -50%, 0);
    transform-origin: center center;
    &.fs {
      transform: translate3d(50%, -50%, 0);
      width: 250vw;
      height: 100rem;
      z-index: 14;
      background-color: $color1;
      
    }
  }
  
  .menu-burger {
    @extend .menu;
    color: $color2;
    padding-top: 11px;
    
    -webkit-user-select: none;
    cursor: pointer;
    transition: .4s;
    transform-origin: center;
    .fa-close{
      visibility: hidden;
    }
    &.fs {
      transform: rotate(-180deg) translateY(-15px);
      z-index: 15;
      .fa-close{
        visibility: visible;
      }
      .fa-bars{
        display: none;
      }
    }
  }
  
  .menu-items {
    position: absolute;
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    color: white;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: .4s;
    margin-top: 1.5rem;
    transform: translateY(-200%);
    pointer-events: none;
    a {
      transition: 1s;
      opacity: 0;
      margin-top: 0px;
      display: block;
      text-decoration: none;
      color: white;
    }
    &.fs {
      transform: translateY(0);
      pointer-events: auto;
      z-index: 15;

      opacity: 1;
      a {
        opacity: 1;
        margin-top: 2.3rem;
      }
    }
  }