a.btn {
  background: $teal;
  border-radius: 4px;
	box-shadow: 0 2px 0px 0 rgba(0,0,0,0.25);
  color: $white;
  display: inline-block;
  padding: 6px 30px 8px;
  margin-top: 15px;
  position: relative;
  text-decoration: none;
	transition: all 0.1s 0s ease-out;
}
.p-connexion{
  margin-top:1em;
  font-size: 1.2em;
}
.btn-connexion {
  background: $teal;
  border-radius: 4px;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5rem;
}
.no-touch{
  background: lighten($teal,2.5);
  box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
  transform: translateY(-2px);
  transition: all 0.25s 0s ease-out;
}


div.cards {
  margin: 80px auto;
  max-width: 960px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
.test{
  margin:0;
  width: 300px;
  margin: 8px;


}

div.card {
  background: $white;
  display: inline-block;
  margin: 8px;
  max-width: 300px;
  min-height: 300px;
  perspective: 1000;
  position: relative;
  text-align: left;
  transition: all 0.3s 0s ease-in;
  width: 300px;
  z-index: 1;

  img {
    max-width: 300px;
    filter: grayscale(100%);

    &:hover{
        filter: grayscale(0);
  }
}
  
  .card__image-holder {
    background: rgba(0,0,0,0.1);
    height: 0;
    padding-bottom: 75%;
  }

  div.card-title {
    background: $white;
    padding: 6px 15px 10px;
    position: relative;
    z-index: 0;
    
    a.toggle-info {
      border-radius: 32px;
      height: 32px;
      padding: 0;
      position: absolute;
      right: 15px;
      top: 10px;
      width: 32px;
      
      span {
        background: $white;
        display: block;
        height: 2px;
        position: absolute;
        top: 16px;
        transition: all 0.15s 0s ease-out;
        width: 12px;
      }
      
      span.left {
        right: 14px;
        transform: rotate(45deg);
      }
      
      span.right {
        left: 14px;
        transform: rotate(-45deg);
      }
    }
    p{
      font-size: 18px;
    }
    h2 {
      font-size: 20px;
      font-weight: 700;
      letter-spacing: -0.05em;
      margin: 0;
      padding: 0;
      
      small {
        display: block;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: -0.025em;
      }
    }
    
  }

  div.card-description {
    padding: 0 15px 10px;
    position: relative;
    font-size: 14px;
  }

  div.card-actions {
  	box-shadow: 0 2px 0px 0 rgba(0,0,0,0.075);
    padding: 15px;
    text-align: center;
  }

  
  div.card-flap {
    background: darken($white,15);
    position: absolute;
    width: 100%;
    transform-origin: top;
    transform: rotateX(-180deg);
  }

  div.flap1 {
    transition: all 0.3s 0.3s ease-out;
    z-index: -1;
  }

  div.flap2 {
    transition: all 0.3s 0s ease-out;
    z-index: -2;
    transform: rotateX(-45deg);

  }
  
  &:hover{
    box-shadow: 2px 2px 20px 10px rgba(17, 10, 56, 0.26);  
    background-color: darken($white, 20%);}
}
.card-actions{
  margin-left: 20px;

}
div.cards.showing {
  div.card {
    cursor: pointer;
    opacity: 0.6;
    transform: scale(0.88);
  }
}

.no-touch  div.cards.showing {
  div.card:hover {
    opacity: 0.94;
    transform: scale(0.92);
  }
}

div.card.show {
  opacity: 1 !important;
  transform: scale(1) !important;

  div.card-title {
    a.toggle-info {
      background: $salmon !important;
      span {
        top: 15px;
      }
      span.left {
        right: 10px;
      }
      span.right {
        left: 10px;
      }
    }
  }
  div.card-flap {
    background: $white;
    transform: rotateX(0deg);
  }
  div.flap1 {
    transition: all 0.3s 0s ease-out;
  }
  div.flap2 {
    transition: all 0.3s 0.2s ease-out;
  }
}


