#menu li {
    float:left;
    position:relative;
}
 
#menu li:hover {
    z-index:2;
    border-radius: 5px;
}
 
.menu-title {
    font-family:$font-family-title;
    padding-bottom: 2em;
    font-size:1.5em; 
    color: $color2;
}

/* Drop Down */

.dropdown_4columns {
    margin:1.5em;
    float:left;
    position:absolute;
    left:-999em; /* Hides the drop down */
    text-align:left;
    padding:1em;
     
    background: $color4;
    border-radius:5px;
}
 

.dropdown_4columns {width: 73vw;}
 
#menu li:hover .dropdown_4columns{
    left:-15em;
    top: 1.1em;
}
 
/* Columns */
 
.col_1{
    display:inline;
    float: left;
    position: relative;
    margin: 1em;
}
.col_1 {width:20vw;}
 
 
/* Drop Down Content Stylings */

#menu h3 {
    font-family:$font-family-title;
    font-size:2em;
    color: white;
    margin:7px 0 14px 0;
    padding-bottom:7px;
    border-bottom:1px solid #888888;
}
#menu p {
    text-align: center;
    margin-top: 4em;
    line-height:18px;
    font-size:1.1em;
    color: $color2;
    width: 14em;
    &.strong{
        font-size: 1.5em;
        text-align: right;
        line-height: 1em;
        color: $color2;
        font-weight: bold;
        margin-bottom: 1.5em;
        
    }
}


#menu li ul {
    padding:0;
    margin:1em;
}

#menu li ul li {
    font-size:1em;
    font-weight: bold;
    line-height:1.5em;
    position:relative;
    float:none;
    text-align:left;
}
.inline{
    i{
        padding-top: 2em;
        color: white;
    }
    a{
        font-size: 1.3em;
    }
}

.col_button{
    font-weight: bold;
    padding: 0.7rem;
    text-decoration: none;
    margin: 1em 0 0 2.3em;
    color: white;
    background-color: $color2;
    border-radius: 7px;
    border: none;
    font-size: 1rem;

}

