@charset 'UTF-8';


@import 
    'abstracts/variables';
    
@import
    '~reset-css/sass/reset',
    '~font-awesome/scss/font-awesome';

@import 
    'base/base',
    'base/typo';


@import
    'layout/header',
    'layout/navbar',
    'layout/section',
    'layout/main',
    'layout/footer';

@import
    'components/buttons',
    'components/burger',
    'components/icons';