html {
    font-size: 62,5%;
}

html, body {
    // background-color: $color4;
    background-color: #82ccc8;
    background-image: url("https://www.transparenttextures.com/patterns/arches.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    font-family: $font-family-content;
    
}

a {
    color: $white;
    text-decoration: none;


    &:hover {
        color: $color5;
        text-decoration: underline;

    }

}

em {
    font-weight: bold;
}


h1 {
    text-align: center;
    padding: 0.5rem;
    margin: 2rem 0 1.5rem 0;
    color: #40392C;
    font-size: 2.1rem;
    font-family: $font-family-title;
}

h2 {
    text-align: center;
    padding: 0.5rem;
    margin: 1rem;
    color: #40392C;
    font-size: 1.4rem;
    font-family: $font-family-categories;
}

h3 {
text-align: left;
padding: 1rem;
margin: 2rem;
color: #40392C;
font-size: 1.5rem;
}

