$fa-font-path: '~font-awesome/fonts';

$size-1: 2.5rem;
$size-2: 2.2rem;

// Color theme
$black: black;
$white: white;


$color1: #40392C;
$color2: #325A73;
$color3: #5B83A6;
$color4: #A3BFD9;
$color5: #D5E5F2;

$white: #ffffff;
$lightBG: #dce1df;
$salmon: #ff6666;

$teal: #0096a0;
$tealMid: #0ebac7;
$tealContrast: #33ffff;
$tealShade:	#007c85;

$darkGrey: #4f585e;
$lightGrey: #999999;


// Breakpoints
$breakpoint-medium: 500px;
$breakpoint-large: 990px;
$breakpoint-extra-large: 1200px;

$font-family-content: 'Roboto', sans-serif;
$font-family-title: 'Bebas Neue', Arial;
$font-family-categories: 'Oswald', sans-serif;

$line: 32px;