
/* 
  Login
*/
.login__container {

  /* width: 60%; */
  margin: 2rem 2rem 3rem 2rem;
  text-align: center;

  a {
    display: none;
  }
}

.login_link a {
  display: inherit !important;
}


.login__container p {
  display: flex;
  flex-direction: column;

}


.login-text p {
  text-align: center;
  padding-bottom: 1rem;
  color: #40392C;
  font-size: 1.2rem;
}

.login__connexion {

/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#325a73+0,335c76+99,335c76+100&0+0,0.5+0,0.83+70,0.83+70 */
background: -moz-linear-gradient(top,  rgba(50,90,115,0.5) 0%, rgba(51,91,117,0.83) 70%, rgba(51,92,118,0.83) 99%, rgba(51,92,118,0.83) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(50,90,115,0.5) 0%,rgba(51,91,117,0.83) 70%,rgba(51,92,118,0.83) 99%,rgba(51,92,118,0.83) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(50,90,115,0.5) 0%,rgba(51,91,117,0.83) 70%,rgba(51,92,118,0.83) 99%,rgba(51,92,118,0.83) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80325a73', endColorstr='#d4335c76',GradientType=0 ); /* IE6-9 */




  width: 14rem;
  padding: 0.8rem;
  display: inline-block;
  // background-color: $white;
  border: 0.1rem solid $white;
  border-radius: 2%;
  box-shadow: 1rem 0.5rem 0.5rem $color1;
}

.login__content {
  text-align: left;
}

.login__content p {
  padding: 0.5rem;

}

.login-username, .login-password, .login-remember, .login-submit, .login-signup {
  
  padding: 0.5rem;
}

.login-submit {
  text-align: center;
}

#user_login, #user_pass {
  margin: 0.5rem;
}

.login_failed {
  padding: 0.5rem;
  text-align: center;
  color: red;
  font-style: italic;
}

//bulle d'info message.js pour gérer les erreurs à l'inscription
.message{
	position:fixed;
	top:20%;
	left:10%;
	width:80%;
	background-color:#FFF;
	color:#000;
	padding:1em;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

#nom-user, #email-user, #pass-user, #user_login, #user_pass {
  background-color: $lightBG;
}