.famous-training {
    &__categories {
        font-family: $font-family-categories;
        margin-top: 2rem;
        padding-left: 2rem;
        font-size: 1.4rem;
    }


    &__single {
        // width: 20rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 3rem;

        &__image {
            img{
                display: block;
                margin-left: auto;
                width: 25vw;
                margin-right: auto;
            }
            // background-image: url('../assets/images/header.jpg');
            // background-size: cover;
            // background-repeat: no-repeat;
        }

            &__title {
                margin-left: auto;
                width: 80%;
                margin-right: auto;
                    margin-top: 0.5rem;
                    font-family: $font-family-title;
                    font-size: 1.8rem;
            }


            &__pricetime {
                margin-left: auto;
                width: 80%;
                margin-right: auto;
                display: flex;
                justify-content: space-between;
                padding-top: 0.5rem;
                font-size: 1.2em;
            }

            &__author {
                margin-left: auto;
                width: 80%;
                margin-right: auto;
                font-size: 1.2rem;

                a {
                    text-decoration: none;
                }

            }

    }

}
#search {
    display: none;
}

.fa-search {
    display: none;
}

.categories-dynamique__list{
    display: none;
}

.search-container {
    display: none;
}

.submit-button {
    display: none; }


.selector__categorie {
    color: $color2;
    padding-top: 1rem;
    padding-left: 1rem;
    text-transform: uppercase;

}
.page {
    width: 100%;
    margin-top: 1rem;
    padding: 0.5rem;
    border: none;
}

.footer__mobile {
    margin-top: 3rem;
}


@media (min-width: $breakpoint-medium)
 {
    .wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .famous-training__single {
        width: 50vw;
        margin: 0rem;
    }

 }

 .page {
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
    border: none;
}

 @media (min-width: $breakpoint-large)
 {
     .famous-training__single{
         width: 33vw;
     }

     #search {
         height: 1.4rem;
         display: inline;
         border-radius: 0.5rem;
         box-shadow: 0.1rem 0.1rem 0.1rem $color1;
     }

     .menu-burger {
         display: none;
     }

     .navbar__formations {
        display: inherit;
    }

     .fa-search {
        display: inline;
    }

    .session {
        display: inherit;
    }

    .footer-wrapper {
        margin-top: 5em;
        padding: 1.5rem 0;
        // border: chocolate solid 2px;
        display: inherit !important;
        background-color: $color2;
        
        a {
            color: $white;
            text-decoration: none;
        }
        a:hover {
                text-decoration: underline;
                color: $color4;
        }
        
    }


    .footer__menu {
        // border: red solid 2px;
        display: flex;
        justify-content: space-around;

        &__categories {

        }

        &__menu {

        }
    }

    .footer__end {
        margin-top: 1rem;
        padding: 1.5rem 0 0 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;


        &__copy {
            color: $color1;
        }
        p, a {
            padding: 0 1rem 0 1rem;
        }

    }

    .categories-dynamique__list {
        display: inline;
    }

    .categories-dynamique__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 1.6rem;
    
        &-one {
            padding: 5vh 4vw;
            border-bottom: 2px solid #325A73;
            border-radius: 30px;
            margin-right: 1vw;
        }
    
        &-two {
            padding: 5vh 4vw;
            border-bottom: 2px solid #325A73;
            // border-right: 2px solid #325A73;
            // border-left: 2px solid #325A73;
            border-radius: 30px;
            margin-right: 1vw;
        }
    
        &-three {
            padding: 5vh 4vw;
            border-bottom: 2px solid #325A73;
            border-radius: 30px;
            margin-right: 1vw;
        }
    
        &-four {
            padding: 5vh 4vw;
            border-bottom: 2px solid #325A73;
            border-radius: 30px;
        }
    }

    .categories__list {
        display: none;
    }
    .categories__title{
        display: none;
    }
    .search-container {
        display: inherit;
    }

    .submit-button {
        display: inline-block;
    }

    .page {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        margin-top: 3rem;
        padding: 0 4rem 4rem 4rem;
        border: $white solid 1px;
        border-radius: 5px;
      }
       
      .footer__mobile {
        margin-top: 0;
    }


 }












    

