.search-submit {
  font-weight: bold;
  padding: 0.3rem 0.7rem 0.2rem 0.7rem;
  text-decoration: none;
  margin: 0 0.1rem;
  color: white;
  background-color: #325A73;
  border-radius: 2px;
  border: none;
  font-size: 0.7rem;
}

.search-count h2 {
    text-align: center;
    font-size: 2rem;
    padding: 0.5rem;
    margin: 1rem;
  }
  

  .search-count h3 {
    text-align: center;
    font-size: 1.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
  }
