.search-count h2 {
    text-align: center;
    font-size: 2rem;
    padding: 0.5rem;
    margin: 1rem;
  }
  
  .search-count p {
    text-align: center;
    font-size: 1.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
  }